beautifulsoup4
binaryornot
blinker
bs4
importlib-metadata
matplotlib
matplotlib-inline
mplfinance
numpy
openpyxl
pandas
pandas-datareader
pandas_ta
plotly
requests
stack-data
streamlit
toml
yfinance
sgs


